/* ABOUT CSS STYLE SHEET */

main h2 {
    font-family: Satoshi-Medium; /* overrides initial font family */
    font-size: clamp(2.8rem, 9vw, 8rem); /* clamp used for responsive min-max font size */
}

main h3 {
    font-family: Satoshi-Medium; /* overrides initial font family */
    font-size: clamp(1.8rem, 5vw, 2.5rem); /* clamp used for responsive min-max font size */
}

.aboutme {
    display: flex; /* flex column all elements */
    flex-direction: column;
    align-items: center;
}

.aboutpageheader {
    margin-top: 0;
}

.aboutme img {
    width: 100%; /* responsiveness to image up to 100% depending on viewport width */
}

.aboutme p {
    font-family: Satoshi-Medium; /* overrides initial font family */
    font-size: clamp(1rem, 2vw, 2rem); /* clamp used for responsive min-max font size */
    text-align: center;
}

/* sets flexbox of service elements as a wrap */
.service-card {
    display: flex;
    flex-wrap: wrap;
}

.service-card p {
    margin-top: 0;
}

.service-card ul {
    font-size: clamp(1rem, 2vw, 2rem); /* clamp used for responsive min-max font size */
    margin-top: 0;
}

/* change responsivenss of flexbox to wrap */
.techstack {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; /* evenly spaces icons */
}

.techstack img {
    width: clamp(4rem, 10vw, 8rem); /* clamp used for responsive min-max image size */
}

.about-resume h2 {
    margin-bottom: 0;
}

.resume-ad {
    display: flex;
    flex-direction: column;
    align-items: center; /* centering resume button on page */
    margin-bottom: 50px;
}

.resume-ad p {
    margin-bottom: 50px;
}

.resume_button {
    margin-bottom: 50px;
}

/* MEDIA QUERIES */

/* ensures image doesn't go beyond specific size */
@media screen and (min-width: 600px) {
    .aboutme img {
        max-width: 583px;
        max-height: 875px;
    }
}

/* creating new grid in main for different sections of the website */
@media screen and (min-width: 1200px) {
    .aboutme {
        display: grid;
        grid-template-columns: 1fr 0.5fr 1fr;
    }

    .aboutme p {
        grid-column: 3 / 4;
        text-align: right;
        margin-top: 0;
        margin-bottom: auto;
    }

    .services h2 {
        text-align: right;
    }

    .service-card {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .service-card ul {
        text-align: right;
        grid-column: 3 / 4;
    }
}

