/* ABOUT CSS STYLE SHEET */

main h2 {
    font-family: Satoshi-Medium;
    font-size: clamp(3rem, 9vw, 8rem);
}

main h3 {
    font-family: Satoshi-Medium;
    font-size: clamp(1.8rem, 5vw, 2.5rem);
}

.aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutme img {
    width: 100%;
    
}

.aboutme p {
    font-family: Satoshi-Medium;
    font-size: clamp(1rem, 2vw, 2rem);
    text-align: center;
}

.service-card {
    display: flex;
    flex-wrap: wrap;
}

.service-card p {
    margin-top: 0;
}

.service-card ul {
    font-size: clamp(1rem, 2vw, 2rem);
    margin-top: 0;
}

.techstack {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.techstack img {
    width: clamp(4rem, 10vw, 8rem);
}

.resume-ad {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.resume-ad p {
    margin-bottom: 50px;
}

/* MEDIA QUERIES */

@media screen and (min-width: 600px) {
    .aboutme img {
        max-width: 583px;
        max-height: 875px;
    }
}


@media screen and (min-width: 1200px) {

    .aboutme {
        display: grid;
        grid-template-columns: 1fr 0.5fr 1fr;
    }

    .aboutme p {
        grid-column: 3 / 4;
        text-align: right;
        margin-top: 0;
        margin-bottom: auto;
    }

    .service-card {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .service-card ul {
        text-align: right;
        grid-column: 3 / 4;
    }
}

