/* PROJECT BLOG PAGE STYLE SHEET */

.blog-header h2 {
    font-family: Satoshi-Medium; /* overrides initial font */
    font-size: clamp(2.8rem, 9vw, 8rem); /* clamp used for responsive min-max font size */
    margin-bottom: 0;
}

.workcard-content h3, p {
    margin-top: 0%;
}

.workcard-content a {
    font-family: Satoshi-Medium; /* overrides initial font */
}

.work-card {
    margin-top: 106px;
    margin-bottom: 30px;
}

.work-card img {
    width: 100%; /* responsiveness to image up to 100% depending on viewport width */
}

.work-card p {
    margin-top: 100px;
}

/* space between main body and footer */
footer {
    padding-top: 100px;
}
