/* CONTACT CSS MAIN BODY */

/* flexbox layout used here */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


main h1 {
    font-size: clamp(1.8rem, 5vw, 5rem); /* clamp used for responsive min-max font size */
    font-family: Satoshi-Medium; /* overrides initial font */
    margin:0;
}

/* this allows the breakpoint of h1 to align on right */
.right-align {
    text-align: right;
    padding-right: 10%;
}

/* form styling */

.form-container {
    padding-right: 10%; /* aligning elements on the right evenly */
}

.form-elements label {
    padding-bottom: 10px;
}

/* sets flex column on form elements */
.form-elements {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

/* adds style to form */
.form-input {
    border: 1px solid var(--primary-color);
    outline: none;
    border-radius: 4px;
    font-size: 15px;
}

/* adds style to request box */
.form-textarea {
    resize: none; /* removes option for users to resize input box */
    height: 100px; /* size of request box */
    border: 1px solid var(--primary-color);
}

.form-input:not(.form-textarea) {
    height: 35px; /* changes height size of each input box except for request */
}


.submit-button {
    display: flex;
    justify-content: end; /* positions submit button on the right side */
    padding-top: 10px;
    padding-bottom: 30px;
}