/* PROJECT PAGE STYLE SHEET */

/* overrides header with different font and responsive size */
.project-header h2 {
    margin-top: 0;
    font-family: Satoshi-Medium;
    font-size: clamp(2.8rem, 9vw, 8rem);
}

/* removes margin on top */
.workcard-content h3, p {
    margin-top: 0%;
}

/* overrides read more font family */
.workcard-content a {
    font-family: Satoshi-Medium;;
}

/* spaces each project card */
.work-card {
    margin-bottom: 30px;
}

/* responsive image up to 100% depending on the width */
.work-card img {
    width: 100%;
    margin-bottom: 10px;
}

/* space between main body and footer */
footer {
    padding-top: 100px;
}

/* MEDIA QUERIES */

/* creates grid layout repsonsiveness when enterting desktop for main body*/
@media screen and (min-width: 1200px) {

    .work-card {
        text-align: right; /* aligns text to right */
    }

    .work-card { /* creating another grid to layout elements evenly */
        display: grid;
        grid-template-columns: 7fr 1fr 2fr;
        gap: 10px; /* creating gap between each grid element */
    }

    .workcard-content {
        grid-column: 3 / 4 ;
    }
}