/* MAIN STYLE SHEET */

/* main colour palette */
:root {
    --primary-color: #2D232E;
    --secondary-color: #474448;
    --third-color: #534B52;
    --background-color: #F1F0EA;
}

/* font used from FontShare */
@font-face {
    font-family: Satoshi; 
    src: url(../resources/fonts/Satoshi-Regular.ttf);
}

@font-face {
    font-family: Satoshi-Medium;
    src: url(../resources/fonts/Satoshi-Medium.ttf);
}

@font-face {
    font-family: CabinetGrotesk-Bold;
    src: url(../resources/fonts/CabinetGrotesk-Bold.ttf);
}

/* this sets the initial default font family, color and bg color */
body {
    background-color: var(--background-color);
    font-family: Satoshi;
    color: var(--third-color);
}

/* header styling */

h1 {
    font-family: CabinetGrotesk-Bold;
    color: var(--secondary-color);
}

/* footer styling */
h3 {
    font-family: Satoshi-Medium;
    border-bottom: 1px solid var(--primary-color);
    padding-bottom: 5px;
}

/* this is the default color and font for all navigation links */
ul {
    list-style: none;
    font-family: Satoshi-Medium;
    padding-left: 0;
    color: var(--third-color);
}

/* this is the default colour for footer copyright */
.copyright p {
    font-family: CabinetGrotesk-Bold;
}

/* hyperlink styling */
a {
    text-decoration: none;
    color: var(--third-color)
}

/* this is the default header color for the logo */
h1 a {
    color: var(--primary-color);
}

/* this is to exclude the resume and submit button as they have a different color pallete */
a:hover:not(.resume, .submit) {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 5px;
    border-radius: 5px;
}

/* button styles */

/* this is the inital button color */
.resume, .submit {
    padding: 1vh;
    border-radius: 5px;
    background: var(--primary-color);
    color: var(--background-color);
    font-family: CabinetGrotesk-Bold;
}

/* this is the color once you hover mouse on button */
.resume:hover, .submit:hover {
    background-color: var(--background-color);
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}




