/* main style sheet */

/* main colour palette */
:root {
    --primary-color: #2D232E;
    --secondary-color: #474448;
    --third-color: #534B52;
    --background-color: #F1F0EA;
}

/* font used from FontShare */
@font-face {
    font-family: Satoshi; 
    src: url(../resources/fonts/Satoshi-Regular.ttf);
}

@font-face {
    font-family: Satoshi-Medium;
    src: url(../resources/fonts/Satoshi-Medium.ttf);
}

@font-face {
    font-family: CabinetGrotesk-Bold;
    src: url(../resources/fonts/CabinetGrotesk-Bold.ttf);
}

body {
    background-color: var(--background-color);
    font-family: Satoshi;
    color: var(--third-color);
}

/* header styling */

h1 {
    font-family: CabinetGrotesk-Bold;
    color: var(--secondary-color);
}

/* footer styling */
h3 {
    font-family: Satoshi-Medium;
    border-bottom: 1px solid var(--primary-color);
    padding-bottom: 5px;
}

ul {
    list-style: none;
    font-family: Satoshi-Medium;
    padding-left: 0;
    color: var(--third-color);
}

.copyright p {
    font-family: CabinetGrotesk-Bold;
}

/* hyperlink styling */
a {
    text-decoration: none;
    color: var(--third-color)
}

h1 a {
    color: var(--primary-color);
}

a:hover:not(.resume, .submit) {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 5px;
    border-radius: 5px;
}

/* button styles */
.resume, .submit {
    padding: 1vh;
    border-radius: 5px;
    background: var(--primary-color);
    color: var(--background-color);
    font-family: CabinetGrotesk-Bold;
}

.resume:hover, .submit:hover {
    background-color: var(--background-color);
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}



